<?xml version="1.0" ?>
<model>
  <name>Arena_Maze</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Dhanush M</name>
    <email>dhanushshettigar90@gmail.com</email>
  </author>
  <description>
    It's an arena for testing our TCE robot during class sessions.
  </description>
</model>
